choice BOOTLOADER
        default BOOTLOADER_MCUBOOT
endchoice

config NETCORE_APP_UPDATE
	default y if (NETCORE_HCI_RPMSG || NETCORE_802154_RPMSG)

config SECURE_BOOT
	default y if (NETCORE_HCI_RPMSG || NETCORE_802154_RPMSG)

choice SECURE_BOOT_CORE
	default SECURE_BOOT_NETCORE if (NETCORE_HCI_RPMSG || NETCORE_802154_RPMSG)
endchoice
